<!-- 
    <div class="card">
        <div class="img">
          
            <img src="/uploads/<%= post.images%>" alt="img-card" >
        </div>

        <div class="card-body">

            <div class="header"><%= post.title%></div>
            <div class="body">
                <%= post.content %>
            </div>
            <div class="footer"> 
           
                <button><a href="/postdetail/<%= post.id%>">View</a></button>
              
                <button style="background-color: purple;"><a href="/postdetail/<%= post.id%>/edit">Edit</a></button>
                <form action="/post/<%= post.id%>/delete" method="POST">
                      <input type="submit" value="Delete" style="background-color: red;color: white;border: 0px solid ;">
                </form>
                
            </div>
        </div>
     
   
    </div>
    

 -->
